/*--Fresh start for Fonts--*/
html, body, h1, h2, h3, 
h4, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

/*
--Fallback Fonts--
font-family: "Helvetica", "Garamond", "serif";
*/

#background {
    background: url('Images/Wood.jpg') repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.stretch {
    margin: 0;
    padding: 0; 
}