/* 
--Fresh start for Fonts--
html, body, h1, h2, h3, 
h4, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

--Fallback Fonts--
font-family: "Helvetica", "Garamond", "serif";

--Forms--
input[type=text], label [for=blah] {
    
}

body {
    color: navy;
    background: #ffffff url("file:///C:/Users/jparkinson/Dropbox/Documents/Web Dev/Land3R/Images/Wood.jpg")top left repeat;
}
*/

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

/*.stretch {
    width:100%;
    height:100%;
}    */

.stretch {
    min-width:100%;
    min-height:100%; 
    width:auto; 
    height:auto; 
}