html, body {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;    
}

ol li, ul li {
    color: black;
    font-size: 19px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;     
}

#bg1{
    background: url(../Images/Wood.jpg); 
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}

/*-- Link to STEAM site --*/
.siteLink {
    display: inline-block;
    margin-right: 10px;
    margin-left: 0px;
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
    text-decoration: none;
}

.siteLink:hover {
    color: #d142f4;
}

/*-- Fixed Navigation Bar --*/
.navigation {
    width: 90%;
    max-width: 960px;
    margin:  0 auto;
}

.siteNavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; /*Always on top order*/
    width: 100%;
    height: 50px;
    background-color: #727599;
}

.siteNavBar a {
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navItems {
    display: inline-block;    
}

.navItems a {
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
    text-decoration: none;
}

.navItems a:hover {
    color: #d142f4;
}

.navItems li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;        
}

/*-- Fixed Top Intro Bar with Background --*/
.topBar {
    text-align:center; 
    position:relative;
    width: 100%;
}

.topBar .inner{
    background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
    min-height:500px;
    position: relative;
    width: 100%;
}

.topBar .writing {
    position:absolute; 
    top:50%; 
    height:10em; 
    margin-top:-5em; 
    width:100%;    
}

.topBar h1, .topBar p { 
    color: #ffffff;
    font-family: "Arial Black", Gadget, sans-serif;            
}

.topBar h1 {
    font-size: 50px;    
}

.topBar p {
    font-size: 20px;    
}

/*-- Body Main Content --*/
.content {
    background-color: #d0cfd1;
    text-align:center; 
    position:relative;
    width: 100%;   
    height: 100%;

    display: flex; 
}

.content .inner {
    flex-grow: 1;
    margin: auto;
    width: 100%;
}

.content .substance {
    background-color: white;
    border-radius: 20px;    
    width: 60%;            
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 100%;   
    padding: 30px;     
    flex-grow: 1;
}

.content h1, .content p {
    color:#333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}

.content h1 {
    font-size: 36px; 
}

.content p {
    text-align: left;
    font-size: 19px; 
}

.content ol {
    color:#333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: left;   
}

/*-- Image and Font --*/
.imageBorder {
    border-radius: 20px;
}

.imgBorderW {
    border-radius: 20px;   
    padding: 1px;
    border: 1px solid #021a40;
    background-color: blue;
}

.fontBack {
    background-color: lightgrey;
}

.codeBlock {
    display: block;    
    padding: 9px;
    margin: 0 0 10px;
    font-size: 18px;    
    /*color: #333;*/
    color: blue;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #ced0e0;
    border: 1px solid #ccc;
    border-radius: 4px;    
    text-align: center;        
}

.butFont {    
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
    border: darkgrey 1px;
    background-color: #727599;
    padding-top: 3px;    
    padding-bottom: 3px;    
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 0px;
}

.butFont:hover {
    color: #d142f4;
}

.red {
    color: red;
}

/*
.mouseOver {
    outline-style: dashed;
    outline-width: 2px;
    outline-color: white; 
    outline-offset: 3px;   
}
*/