<!-- //////////////////////////////////////////////
// Author: Jared Parkinson
// Mail: parkinja @ oregonstate . edu
// CS290 - Final Project
// MySQL Database Exercise Tracker
//////////////////////////////////////////////// -->

<!doctype html>
<html>
	<head>
		<title>Exercise Tracker using MySQL DB, JS, AJAX, DOM, node, express, handlebars</title>		
		<meta name="author" content="Jared Parkinson" charset="UTF-8">    
    	<link rel="stylesheet" href="static/css/style.css">    	
	</head>
	
	<body class="main">
		<section id="bg1" class="topBar">
			<div class="inner">
				<div class="writing">				
					<h1>Exercise Tracker</h1>
	    			<p>Using MySQL DB, JS, AJAX, DOM, node, express, handlebars</p>
				</div>    		
	    	</div>    	
		</section>

		<section class="content">
    		<div class="inner">
      			<div class="substance">      
					{{{body}}}										
				</div>				
			</div>
		</section>				
	</body>
</html>